In [2]:
import pandas as pd
import numpy as np 
import spacy
from spacy.lang.en.stop_words import STOP_WORDS
from preprocess import preprocess_text 
nlp = spacy.load('en_core_web_lg')
df=pd.read_csv("../../data/final_df/quali_final_df2.csv")
df.head()

,dsm,text,previous_column_number,str_len,entity_encode,lag_text,lag_text2,lag_text3,lag_text4
0,10000400,B.Knowledge:,3,12,10,first line,second line,third line,fourth line
1,10000400,"Masters Degree in Accounting, Finance, Busines...",4,101,10,B.Knowledge:,first line,second line,third line
2,10000400,Extensive knowledge of corporate finance as it...,5,426,10,"Masters Degree in Accounting, Finance, Busines...",B.Knowledge:,first line,second line
3,10000400,C.Skills:,6,9,10,Extensive knowledge of corporate finance as it...,"Masters Degree in Accounting, Finance, Busines...",B.Knowledge:,first line
4,10000400,"D.Required Licensure, Certification, Etc.Requi...",7,81,10,C.Skills:,Extensive knowledge of corporate finance as it...,"Masters Degree in Accounting, Finance, Busines...",B.Knowledge:

In [3]:
df["text_original"] = df["text"]
df["text"] = df["text"].apply(lambda x:preprocess_text(x, nlp))
df["text2"] = df["text"].apply(lambda x:preprocess_text(x, nlp))

In [24]:
df.dtypes

dsm                        int64
text                      object
previous_column_number     int64
str_len                    int64
entity_encode              int64
lag_text                  object
lag_text2                 object
lag_text3                 object
lag_text4                 object
text_original             object
text2                     object
dtype: object

In [25]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from joblib import load

preprocessor = load( 'preprocessors/quali_processor2.joblib')

X = df[["text", "text2", 'str_len', 'entity_encode']]

X_processed = preprocessor.transform(X)

In [26]:
quali_model = load('../../joblib/best_model_quali.joblib')


predictions = quali_model.predict(X_processed)
df['predictions_model2'] = predictions

In [28]:
probabilities = quali_model.predict_proba(X_processed)
for i, class_name in enumerate(quali_model.classes_):
    df[f'quali_model_probability_class_{class_name}'] = probabilities[:, i]

In [29]:
# df.to_csv('../../data/final_df/quali_classified2.csv', index=False)